.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pto{
  margin-left: 71px;
}
.plus{
  color: rgb(238, 216, 14);
}
.btn2 {
  font-size: 12px;
  text-align: center;
  background-color: transparent;
}
.btn1{
  background-color: transparent;
  color: white ;
}
.package {
  padding-left: 62px;
}
.images span {
  font-size: 12px;
  text-align: center;
}
.ftr{
  background-color: #172337;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
